.btn-dark, .btn-dark:hover{border-color: #656d78!important; color: #fff; background-color: #656d78;}.btn-dark:active {background-color: #656d78;} .btn-dark:focus {color: #fff;}
.btn-azul, .btn-azul:hover{border-color: #0078D7!important; color: #fff; background-color: #0078D7;}.btn-azul:active {background-color: #0078D7;} .btn-azul:focus {color: #fff;}
.btn-negro, .btn-negro:hover{border-color: #434A54!important; color: #fff; background-color: #434A54;}.btn-negro:active {background-color: #1f2123;} .btn-negro:focus {color: #fff;}
.btn-morado, .btn-morado:hover{border-color: #694D9F!important; color: #fff; background-color: #694D9F;}.btn-morado:active {background-color: #47346b;} .btn-morado:focus {color: #fff;}
.btn-indigo, .btn-indigo:hover{border-color: #3E50B4!important; color: #fff; background-color: #3E50B4;}.btn-indigo:active {background-color: #3748a2;} .btn-indigo:focus {color: #fff;}
.btn-morita, .btn-morita:hover{border-color: #9B26AF!important; color: #fff; background-color: #9B26AF;}.btn-morita:active {background-color: #7c1e8c;} .btn-morita:focus {color: #fff;}
.btn-rosaKit, .btn-rosaKit:hover{border-color: #e91e63!important; color: #fff; background-color: #e91e63;}.btn-rosaKit:active {background-color: #a31545;} .btn-rosaKit:focus {color: #fff;}

.btn-primary{background-color: transparent;}
.btn-primary:hover {
    background-color: #157ad0;
    border-color: #065ca5;
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: 0 none;}
.btn-outline {background-color: transparent; color: inherit;transition: all .5s;}
.btn-primary.btn-outline { color: #157ad0;border-color: #157ad0;}
.btn-success.btn-outline { color: #5cb85c;}
.btn-info.btn-outline { color: #5bc0de;}
.btn-warning.btn-outline { color: #f0ad4e;}
.btn-danger.btn-outline { color: #d9534f;}
.btn-azul.btn-outline { color: #0078D7;border-color: #0078D7;}
.btn-dark.btn-outline { color: #656d78;border-color: #656d78;}
.btn-negro.btn-outline{ color:#37474F;}
.btn-morado.btn-outline{ color:#694D9F;}
.btn-indigo.btn-outline{ color:#3E50B4;}
.btn-morita.btn-outline{ color:#9B26AF;}
.btn-rosaKit.btn-outline{ color:#e91e63;}
 
.btn-primary.btn-outline:focus,.btn-success.btn-outline:focus,.btn-info.btn-outline:focus,.btn-warning.btn-outline:focus,.btn-danger.btn-outline:focus,
.btn-primary.btn-outline:active,.btn-success.btn-outline:active,.btn-info.btn-outline:active,.btn-warning.btn-outline:active,.btn-danger.btn-outline:active,
.btn-primary.btn-outline:hover,.btn-success.btn-outline:hover,.btn-info.btn-outline:hover,.btn-warning.btn-outline:hover,.btn-danger.btn-outline:hover,
/*.btn-negro.btn-outline:focus,*/.btn-negro.btn-outline:active,.btn-negro.btn-outline:hover,/*.btn-morado.btn-outline:focus,*/
.btn-morado.btn-outline:active,.btn-morado.btn-outline:hover, .btn-indigo.btn-outline:active,.btn-indigo.btn-outline:hover,
.btn-azul.btn-outline:active,.btn-azul.btn-outline:hover,.btn-dark.btn-outline:active,.btn-dark.btn-outline:hover,
.btn-morita.btn-outline:active,.btn-morita.btn-outline:hover,.btn-rosaKit.btn-outline:active,.btn-rosaKit.btn-outline:hover
{color: white;}
.btn-negro.btn-outline:focus,.btn-negro.btn-outline:active,.btn-negro.btn-outline:hover{background-color: black;}