#divmedio{
	margin-top: 30px;
	
}
th, td{
   text-align: center!important;
}
td{
   color: #212529;
}
th {
   color: #2296fd;
   
}
.elemento{
padding-bottom: 4px!important;
padding-top: 4px!important;
font-size: 15px!important;
}
#icono{
	font-size: 15px!important;
}
html{
	font-family: 'Poppins', sans-serif;
}