#divmedio{
	margin-top: 30px;
	
}
th, td{
   text-align: center!important;
}
td{
   color: #212529;
}
th {
   color: #2296fd;
   
}
.elemento{
padding-bottom: 4px!important;
padding-top: 4px!important;
font-size: 15px!important;
}
#icono{
	font-size: 15px!important;
}
html{
	font-family: 'Poppins', sans-serif;
}
.up{
	color:#148A12!important;
	padding: 0!important
}
.down{
	color:#E60505!important;
	padding: 0!important
}
.celda{
	width: 30em;
}

.panel-default.panel-heading {
 border-color:transparent!important; }

.panel-heading {    border-top-left-radius: 17px;
               		 border-top-right-radius: 17px;
}
.panel   {
	border-radius: 8px;}

.panel-panel.default {
	padding-left: 0px;}

.navbar{ 
	min-height: 90px;  }

a:focus, a:hover {text-decoration: none; }